{% extends "base.html"%}
{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="container">
  <h1>{{ title }}</h1>
  <p>
    This masterclass is based on the
    <a href="http://www.hep.man.ac.uk/u/events/" target="_blank">
      original OPAL Masterclass
    </a> 
    developed
    by Terry Wyatt. Original contributors include Pezouna Pieri, Akram Khan,
    David Ward, Nigel Watson, and Andrew McNab. More information can be found
    <a href="http://www.hep.man.ac.uk/u/events/acknowledgements.html" target="_blank">here</a>.
  </p>
  <p>
    This version is being developed by <a href="https://github.com/tpmccauley" target="_blank">Tom McCauley</a>. The source code, data, and
    outstanding issues are on
    <a href="https://github.com/QuarkNet-HEP/opal-masterclass" target="_blank">
      GitHub</a>.
  </p>
     
  <ul class="pager">
    <li class="previous">
      <a href="{{url_for('contents') }}">
	Back to Contents
      </a>
    </li>
  </ul>

</div>
{% endblock %}
