{% extends "bootstrap/base.html"%}
{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<h1>{{ title }}</h1>

<p>
  In the following events a W+W- pair has been produced.
  See if you can identify which sort of particles were produced when the W's
  subsequently decayed!
</p>
  
{% for e in events: %}
<a href="{{ url_for('ch3', id=e.id) }}">
  Event {{ e['id'] }}<br>
</a>
{% endfor %}
    
<p>
  Once you've successfully identified each of these events,
  then please proceed to the
  <a href="{{ url_for('challenge4') }}">next part of the programme</a>.
</p>
  
{% endblock %}

{% block footer %}
<p>
  <a href="{{ url_for('challenge4') }}">Next</a>
</p>
<p>
  <a href="{{ url_for('index') }}">Back to start</a>
</p>
{% endblock %}
