{% extends "bootstrap/base.html"%}
{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="container">
  
<h1>{{ title }}</h1>

<p>
  In the following events a particle-antiparticle pair has been produced.
  See if you can identify which sort of particle!
</p>

{% for e in events: %}
<a href="{{ url_for('ch2', id=e.id) }}">
  Event {{ e['id'] }}<br>
</a>
{% endfor %}
    
<p>
  Once you've successfully identified each of these events,
  then please proceed to the
  <a href="{{ url_for('W') }}">next part of the programme</a>,
  where you will learn how to identify events in which a 
  W+W- pair has been produced.
</p>

<p>
  <a href="{{ url_for('W') }}">Next</a>
</p>
<p>
  <a href="{{ url_for('contents') }}">Back to start</a>
</p>
</div>
{% endblock %}

