{% extends "base.html"%}
{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="container">
<h1>{{ title }}</h1>
  
<p>
  Events in which an electron-positron pair are produced are fairly easy to 
  identify.
  We see a back-to-back pair of high momentum tracks pointing at high energy
  clusters of energy in the electromagnetic calorimeter.
</p>

<p>
  Here are a couple of example events.
</p>

<p>
  Example Event Number 1
</p>

<p>
  End-On View of Event
</p>

<p>
  <img class="img-thumbnail" src="{{ url_for('static', filename='data/x7575_13812.gif') }}">
</p>

<p>
  Side View of Event
</p>

<p>
  <img class="img-thumbnail" src="{{ url_for('static', filename='data/s7575_13812.gif') }}">
</p>

<p>
  Example Event Number 2
</p>

<p>
  In the second example event the electrons strike the end-cap region 
  of the detector.
</p>

<p>
  End-On View of Event
</p>

<p>
  <img class="img-thumbnail" src="{{ url_for('static', filename='data/x7575_9323.gif') }}">
</p>

<p>
  Side View of Event
</p>

<p>
  <img class="img-thumbnail" src="{{ url_for('static', filename='data/s7575_9323.gif') }}">
</p>
  
<p>
  Next take a look at some
  <a href="{{ url_for('tautau') }}">
    example <img src="{{ url_for('static', filename='graphics/tex_tautau.gif') }}"> events.
  </a>
</p>

<p>
  <a href="{{ url_for('Z') }}">
    Back to general section on "How to Identify Events Containing 
    a Particle-Antiparticle Pair".
  </a>
</p>

<p>
  <a href="{{url_for('contents') }} ">
    Back to Home Page with table of contents.
  </a>
</p>
</div>  
{% endblock %}
