{% extends "base.html"%}
{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="container">
  <div class="text-center">
    <h2>{{ title }}</h2>

    <ul class="pager">
      {% if back_id >= 1 %}
      <li class="previous">
	<a href="{{ url_for(dataset, id=back_id) }}">
	  Previous
	</a>
      </li>
      {% endif %}
      <li>
	<img class="img-thumbnail" src="{{ url_for('static', filename='data/'+event.file_name) }}" title="{{ event.event_id }}">
      </li>
      {% if next_id <= nevents %}
      <li class="next">
	<a href="{{ url_for(dataset, id=next_id) }}">
	  Next
	</a>
      </li>
      {% endif %}
    </ul> 

    <p>
      <a href="{{ url_for(measurement) }}">
	<button type="button" class="btn btn-outline-primary">
	  Back to event list
	</button>
      </a>
    </p>
    
  </div>
</div>
{% endblock %}
