{% extends "base.html"%}
{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="container">
  <h1>{{ header }}</h1>

  <p>
    A \(Z^{0}\) decays into an particle-antiparticle pair that fly off 
    at an angle theta to the direction of the incoming electron-positron pair:
  </p>
  <p>
    <img class="img-thumbnail" src="{{ url_for('static', filename='graphics/picture.gif') }}">
  </p>
  <p>
    In selecting 
    \(e^{+}e^{-} \rightarrow \mu^{+}\mu^{-}\)
    and \(e^{+}e^{-} \rightarrow \tau^{+}\tau^{-}\)
    events we have allowed pretty much all 
    possible values for the angle theta.
    However, in selecting
    \(e^{+}e^{-} \rightarrow e^{+}e^{-}\)
    we have left out any events for which theta is less than 45 degrees.
  </p>
  <p>  
    (Look carefully at any 
    \(e^{+}e^{-} \rightarrow e^{+}e^{-}\)
    events you observe. 
    They will all occur at angles which are at least 45<sup>0</sup> from the 
    beam axis.
    In contrast, in the 
    \(e^{+}e^{-} \rightarrow \mu^{+}\mu^{-}\)
    and \(e^{+}e^{-} \rightarrow \tau^{+}\tau^{-}\)
    events sometimes the particles are at very small angles to
    the beam direction.)
  </p>
  <p>  
    The fact that we have left some
    \(e^{+}e^{-} \rightarrow e^{+}e^{-}\)
    events out means that the number of
    \(e^{+}e^{-} \rightarrow e^{+}e^{-}\)
    events you observe will be smaller than if we had kept them all.
    Therefore we have to apply a "correction factor" to get the "total" number of
    \(e^{+}e^{-} \rightarrow e^{+}e^{-}\)
    events.
    This correction factor turns out to have the value 1.6. 
  </p>  
 
  <ul class="pager">
    <li class="previous">
      <a href="{{url_for('Zdecays') }}">
	Back
      </a>
    </li>
  </ul>

</div>
{% endblock %}
