{% extends "bootstrap/base.html"%}
{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="container">
  <h1>{{ title }}</h1>

  <p>
    A Z<sup>0</sup> decays into an particle-antiparticle pair that fly off 
    at an angle theta to the direction of the incoming electron-positron pair:
  </p>
  <p>
    <img src="{{ url_for('static', filename='graphics/picture.gif') }}">
  </p>
  <p>
    In selecting 
    <img src="{{ url_for('static', filename='graphics/tex_mumu.gif') }}">
    and <img src="{{ url_for('static', filename='graphics/tex_tautau.gif') }}">
    events we have allowed pretty much all 
    possible values for the angle theta.
    However, in selecting
    <img src="{{ url_for('static', filename='graphics/tex_ee.gif') }}">
    we have left out any events for which theta is less than 45 degrees.
  </p>
  <p>  
    (Look carefully at any 
    <img src="{{ url_for('static', filename='graphics/tex_ee.gif') }}">
    events you observe. 
    They will all occur at angles which are at least 45<sup>0</sup> from the 
    beam axis.
    In contrast, in the 
    <img src="{{ url_for('static', filename='graphics/tex_mumu.gif') }}">
    and <img src="{{ url_for('static', filename='graphics/tex_tautau.gif') }}">
    events sometimes the particles are at very small angles to
    the beam direction.)
  </p>
  <p>  
    The fact that we have left some
    <img src="{{ url_for('static', filename='graphics/tex_ee.gif') }}">
    events out means that the number of
    <img src="{{ url_for('static', filename='graphics/tex_ee.gif') }}">
    events you observe will be smaller than if we had kept them all.
    Therefore we have to apply a "correction factor" to get the "total" number of
    <img src="{{ url_for('static', filename='graphics/tex_ee.gif') }}">
    events.
    This correction factor turns out to have the value 1.6. 
  </p>  
 
  <p>
    <a href="{{url_for('Zdecays') }}">
      Back
    </a>
  </p>

</div>
{% endblock %}
