{% extends "base.html"%}
{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="container">
  <h1>{{ title }}</h1>

  <p>  
    Remember the example diagram we used to represent 
    \(e^{+}e^{-} \rightarrow l^{+}l^{-}\gamma\) events:
  </p>
  
  <p>
    <img class="img-thumbnail" src="{{ url_for('static', filename='graphics/mmp_f.gif') }}">
  </p>
  
  <p>
    Instead of flying out and being observed in the 
    calorimeter, sometimes the photon produces an additional particle-antiparticle
    pair.
    Such events contain two particle-antiparticle pairs.  
    For example:
  </p>
  
  <p>
    <img class="img-thumbnail" src="{{ url_for('static', filename='graphics/mmmm_f.gif') }}">.
  </p>
  
  <p>
    These events go by the jargon name "four fermion" events.
  
    Here is an example event that contains electron-positron and 
    muon-antimuon pairs:
  </p>
  
  <p>
    <img class="img-thumbnail" src="{{ url_for('static', filename='data/x7708_10447.gif') }}">
    <img class="img-thumbnail" src="{{ url_for('static', filename='data/s7708_10447.gif') }}">
  </p>

  
  <ul class="pager">
    <li class="previous">
      <a href="{{ url_for('others') }}">
	Back: "How to Identify Some Slightly More Complicated 
	Types of Event"
      </a>
    </li>
  </ul>


</div>
{% endblock %}
