{% extends "bootstrap/base.html"%}
{% block title %}
{{ title }}
{% endblock %}

{% block content %}

<div class="container">
  <div class="jumbotron">
    <h1>OPAL Masterclass</h1>

    <p>
      The purpose of this masterclass is to allow you to identify for yourself 
      some  interesting particle physics interactions or "events".
      These events have been seen using an 
      experiment called
      <a href="http://www.cern.ch/Opal/welcome.html" target="_blank"> OPAL,</a>
      at <a href="//www.cern.ch/" target="_blank">CERN</a>, near to Geneva, Switzerland. 
      This experiment ran at 
      <a href="http://www.cern.ch/CERN/Divisions/PS/PSComplex/CERNAcc.html">LEP</a>
      (the Large Electron-Positron collider).
    </p>
    <p>
      The emphasis is very much on your active participation.
      We have tried to explain as simply as possible a few important
      things you need to know 
      about our experiment and the different types of events that can occur.
      But the main parts are where you play the role of "particle detective" 
      and identify for yourself pictures of different types of event.
    </p>
    <p>
      <a class="btn btn-primary btn-lg" href="{{ url_for('contents') }}" role="button">Start</a>
    </p>
  </div>
</div>

{% endblock %}

