{% extends "base.html"%}
{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="container">
  <h1>{{ header }}</h1>

  <p>
    <img class="img-thumbnail" src="{{ url_for('static', filename='data/x7402_203918.gif') }}">
    <img class="img-thumbnail" src="{{ url_for('static', filename='data/s7402_203918.gif') }}">
  </p>
    
  <ul class="pager">
    <li class="previous">
      <a href="{{url_for('W') }}">
	Back to W Events
      </a>
    </li>
  </ul>
  
</div>  
{% endblock %}
