{% extends "base.html"%}
{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="container">
  <h1>{{ header }}</h1>

  <p>
    <img class="img-thumbnail" src="{{ url_for('static', filename='data/x7639_62338.gif') }}">
    <img class="img-thumbnail" src="{{ url_for('static', filename='data/s7639_62338.gif') }}">
    <img class="img-thumbnail" src="{{ url_for('static', filename='data/sj7639_62338.gif') }}">
    <img class="img-thumbnail" src="{{ url_for('static', filename='data/x7626_44433.gif') }}">
    <img class="img-thumbnail" src="{{ url_for('static', filename='data/s7626_44433.gif') }}">
  </p>
  
  <p>
    <a href="{{ url_for('W') }}">
      <button type="button" class="btn btn-outline-primary">
	Back to W Events
      </button>
    </a>
  </p>

</div>
{% endblock %}
