{% extends "base.html"%}
{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="container">

  <h1>{{ title }}</h1>

  <p>
    If you've got this far then 
    you're probably now an expert at identifying different types of
    \(Z^{0}\) and \(W\) pair events. Here is a more difficult challenge
    to keep you on your toes!
  </p>
  <p>
    In the previous challenge you measured the fractions of \(Z^{0}\)s that
    decay to each type of particle-antiparticle pair. Another important
    measurement is measuring the fractions of \(W\) pairs that decay into
    each possible class. Remember these classes are
  </p>
  <ul>
    <li>the four-jet events: \(W^{+}W^{-} \rightarrow q\bar{q}q\bar{q}\),
    </li>
    <li>
      the two lepton, two neutrino events: 
      \(W^{+}W^{-} \rightarrow l^{+}\nu l^{-}\bar{\nu}\)
    </li>
    <li>
      or the lepton-neutrino, quark-anti-quark events:
      \(W^{+}W^{-} \rightarrow e\bar{\nu} q\bar{q} \),
      \(W^{+}W^{-} \rightarrow \mu\bar{\nu} q\bar{q} \),
      \(W^{+}W^{-} \rightarrow \tau\bar{\nu} q\bar{q} \).
    </li>
  </ul>
  <p>
    In this challenge you are asked to look through a list of events and keep 
    count of the various types of W pair decays. But beware! There are other 
    types of events, such as \(Z^{0}\) decays, mixed in as well. 
    Therefore, for each event you first need to determine whether you're looking at a
    \(W\) pair decay or some other kind of event.
  </p>
  <p>
    One measurement you can make is to count the total number of \(W\) pair events
    (having "thrown away" all the events you didn't think were \(W\) pairs).
    Count also the number of \(W\) pair events in each of the classes listed above.
    Thus you can 
    determine the fractions of \(W\) pair events that end up in the various 
    classes.
  </p>
  <p>
    We expect the number of \(W^{+}W^{-} \rightarrow e\bar{\nu} q\bar{q} \),
     \(W^{+}W^{-} \rightarrow \mu\bar{\nu} q\bar{q} \), and \(W^{+}W^{-} \rightarrow \tau\bar{\nu} q\bar{q} \)   
    events each to be 0.29
    times the number of \(W^{+}W^{-} \rightarrow q\bar{q}q\bar{q}\) events.
    We also expect to observe that the total number of \(W^{+}W^{-} \rightarrow l^{+}\nu l^{-}\bar{\nu}\) events to be 0.18
    times the number of \(W^{+}W^{-} \rightarrow q\bar{q}q\bar{q}\) events.
    Check your measurements are statistically consistent with these values. 
  </p>
  <p> 
    A helpful hint!  In challenge part 5 you looked at some more complicated types of events.
    Here you will meet some \(Z^{0}\) decays which involve the production of
    <a href="{{ url_for('ffgamma') }}">
      High Energy Photons in Events Containing a
      Particle-Antiparticle Pair
    </a>.
    Where necessary, both the end-on and side views have been given to help you decide
    which type of decay has occurred.
  </p>
  <p> 
    The events are listed below. 
    If you're working toghether as
    a group each of you may like to look at a different set of events and you can
    then combine your measurements.
    If you are working on your own, but don't have time to look at all events
    you can just look at a subset.
  </p>
  
  {% for event in events: %}
  <p>
    <a href="{{ url_for('static', filename='data/'+event.file_name) }}">
      <button type="button" class="btn btn-outline-primary">
	Event {{ event.event_id }}
      </button>
    </a>
  </p>
  {% endfor %}
  
</div>
{% endblock %}
