<!doctype html>
<head>
   <title>{{ title }} </title>
</head>
<body>
  <h1>{{ title }}</h1>

  <p>
    Perhaps the simplest types of events to identify are those in which the 
    electron and positron annihilate to produce a Z
    that then decays to
    produce a particle-antiparticle pair.
    The particle and antiparticle then fly off back to back and are observed in
    the detector.
    We represent the production of, for example, a muon-antimuon pair in 
    Z decay by means of the following diagram:
  <p>

  <p>
    <img src="{{ url_for('static', filename='graphics/feynman_Zmupair.gif') }}">
  </p>

  <p>
    Here are some events containing the different types of 
    particle-antiparticle pairs, with hints on how to identify them:
    <ul>
      <li>
	Example
	<img src="{{ url_for('static', filename='graphics/tex_mumu.gif') }}">
	events
      <li>
	Example
	<img src="{{ url_for('static', filename='graphics/tex_ee.gif') }}">
	events
      <li>
	Example
	<img src="{{ url_for('static', filename='graphics/tex_tautau.gif') }}">
	events
      <li>
	Example  
	<img src="{{ url_for('static', filename='graphics/tex_qq.gif') }}">
	events
    </ul> 
  </p>

  <p>
    Once you've understood the way we identify  the different
    types of events, then please proceed to the
    <a href="{{ url_for('challenge2') }}">
      next part of the programme.<a/>
  </p>
    
  
</body>
<footer>  
  <p>
    <a href="{{ url_for('challenge2') }}">Next</a>
  </p>
  <p>
    <a href="{{ url_for('index') }}">Back to start</a>
  </p>
</footer>
