<!doctype html>
<head>
   <title>{{ title }} </title>
</head>
<body>
  <h1>{{ title }}</h1>

  <p>    
    Part 4 of the challenge is a little bit more difficult.
    Events of the types you met in Parts 2 and 3 will be mixed up together.
    We won't tell you in advance which is which.

    So, first you have to decide whether the event you're looking at is the 
    type in which a particle-antiparticle pair has been produced (like Challenge 
    Part 2)
    or it is the type of event in which
    a W+W- pair has been produced (like Challenge Part 3).

    After you've done that then see if you can identify exactly which sort of 
    event you're looking at!
  </p>

  <p>
  {% for e in events: %}
  Event {{ e['id'] }}<br>
  {% endfor %}
  </p>
    
  <p>
    Once you've successfully identified each of these events,
    then please proceed to the
    <a href="{{ url_for('challenge4') }}">next part of the programme</a>
    where you will learn how to identify some slightly more complicated 
    types of "Standard Model" events.
  </p>
  
</body>
<footer>  
  <p>
    <a href="{{ url_for('others') }}">Next</a>
  </p>
  <p>
    <a href="{{ url_for('index') }}">Back to start</a>
  </p>
</footer>
